@model Education.ViewModel.QuestionsViewModel

@{
    ViewData["Title"] = "Questions";
}
<link href="~/css/forms.css" rel="stylesheet" />

<h1 class="text-center">Питання до екзамену "@ViewBag.ExamName"</h1>

<div class="d-flex flex-row mt-3">
    <div class="d-flex flex-row ml-auto">
        <form method="post" asp-controller="Home" asp-action="ExamQuestions" asp-route-examid="@ViewBag.ExamId" asp-route-editing="@ViewBag.IsEditing">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mr-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addQuestion">
                    + Запитання
                </button>
            </div>

            <div class="modal fade" id="addQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Нове запитання</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="AskedQuestion" class="col-form-label"></label>
                                <input type="text" class="form-control" asp-for="AskedQuestion">
                                <span asp-validation-for="AskedQuestion"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                            <button type="submit" class="btn btn-primary">Створити</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form method="get" asp-controller="Home" asp-action="ExamTeacherMarks" asp-route-examid="@ViewBag.ExamId">
            <div class="mr-2">
                <button type="submit" class="btn btn-info">
                    Оцінки
                </button>
            </div>
        </form>

        @if (ViewBag.IsEditing)
        {
            <form method="post" asp-controller="Home" asp-action="ChangeExamEditing" asp-route-examid="@ViewBag.ExamId" asp-route-editing="false">
                <button type="submit" class="btn btn-secondary">/</button>
            </form>
        }
        else
        {
            <form method="post" asp-controller="Home" asp-action="ChangeExamEditing" asp-route-examid="@ViewBag.ExamId" asp-route-editing="true">
                <button type="submit" class="btn btn-secondary">/</button>
            </form>
        }
    </div>
</div>

<div class="center-vertically">
    @foreach (var question in Model.Questions)
    {
        <div class="d-flex flex-row justify-content-between">
            <label class="label-size">@question.AskedQuestion</label>
            <div class="d-flex flex-row">
                <form method="post" asp-controller="Home" asp-action="AddOption" asp-route-questionid="@question.QuestionId" asp-route-examid="@ViewBag.ExamId" asp-route-editing="@ViewBag.IsEditing">
                    <button type="button" class="btn btn-success mr-2 action-button" data-toggle="modal" data-target="#addOption_@question.QuestionId">
                        + Варіант
                    </button>

                    <div class="modal fade" id="addOption_@question.QuestionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Новий варіант відповіді</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label asp-for="NewOptionName" class="col-form-label"></label>
                                        <input type="text" class="form-control" asp-for="NewOptionName">
                                        <span asp-validation-for="NewOptionName"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IsOptionRight" class="col-form-label"></label>
                                        <input type="checkbox" class="form-control" asp-for="IsOptionRight">
                                        <span asp-validation-for="IsOptionRight"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                                    <button type="submit" class="btn btn-primary">Створити</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @if(ViewBag.IsEditing)
                {
                    <form method="post" asp-controller="Home" asp-action="UpdateQuestion" asp-route-examid="@ViewBag.ExamId" asp-route-questionid="@question.QuestionId" asp-route-editing="@ViewBag.IsEditing">
                        <button type="button" class="btn btn-warning mr-2 action-button" data-toggle="modal" data-target="#editQuestion_@question.QuestionId">/</button>

                        <div class="modal fade" id="editQuestion_@question.QuestionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Редагувати запитання</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label asp-for="AskedQuestion" class="col-form-label"></label>
                                            <input type="text" class="form-control" asp-for="AskedQuestion" value="@question.AskedQuestion">
                                            <span asp-validation-for="AskedQuestion"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                                        <button type="submit" class="btn btn-primary">Оновити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="post" asp-controller="Home" asp-action="DeleteQuestion" asp-route-examid="@ViewBag.ExamId" asp-route-questionid="@question.QuestionId" asp-route-editing="@ViewBag.IsEditing">
                        <button type="submit" class="btn btn-danger action-button">-</button>
                    </form>
                }
            </div>
        </div>
        <div class="option-size d-flex flex-column ml-5">
            @foreach (var option in question.AnswerOptions)
            {
                <div class="d-flex flex-row justify-content-between m-1 w-75">
                    <div class="d-flex flex-row">
                        @if (option.IsOptionRight)
                        {
                            <label><input type="checkbox" class="mr-2" checked="checked" onclick="return false;" />@option.Option</label>
                        }
                        else
                        {
                            <label><input type="checkbox" class="mr-2" onclick="return false;" />@option.Option</label>
                        }
                    </div>
                    @if(ViewBag.IsEditing)
                    {
                        <div class="d-flex flex-row">
                            <form method="post" asp-controller="Home" asp-action="UpdateOption" asp-route-examid="@ViewBag.ExamId" asp-route-questionid="@question.QuestionId" asp-route-optionid="@option.AnswerOptionId" asp-route-editing="@ViewBag.IsEditing">
                                <button type="button" class="btn btn-warning mr-3 action-button" data-toggle="modal" data-target="#editOption_@option.AnswerOptionId">/</button>

                                <div class="modal fade" id="editOption_@option.AnswerOptionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Редагувати варіант відповіді</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label asp-for="NewOptionName" class="col-form-label"></label>
                                                    <input type="text" class="form-control" asp-for="NewOptionName" value="@option.Option">
                                                    <span asp-validation-for="NewOptionName"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="IsOptionRight" class="col-form-label"></label>
                                                    @if (option.IsOptionRight)
                                                    {
                                                        <input type="checkbox" checked="checked" class="form-control" asp-for="IsOptionRight">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="form-control" asp-for="IsOptionRight">
                                                    }
                                                    <span asp-validation-for="IsOptionRight"></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                                                <button type="submit" class="btn btn-primary">Оновити</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form method="post" asp-controller="Home" asp-action="DeleteOption" asp-route-optionid="@option.AnswerOptionId" asp-route-examid="@ViewBag.ExamId" asp-route-editing="@ViewBag.IsEditing">
                                <button type="submit" class="btn btn-danger action-button">-</button>
                            </form>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
